<template>
  <div>
    <h1 class="title">pingr.</h1>
    <div class="container">
      <form name="test" class="sign-up-form" @submit.prevent="onSubmit()">
        <div class="one">
          <label for="email">Email</label>
          <input
            ref="email"
            v-model="email"
            name="email"
            type="text"
            @change="validateEmail"
          />
        </div>
        <div v-if="emailValid !== null && !emailValid" class="one">
          <p>Please enter a valid email.</p>
        </div>
        <div class="one">
          <label for="password">Password</label>
          <input
            ref="password"
            v-model="password"
            name="password"
            type="password"
            @change="validatePassword"
          />
        </div>
        <div v-if="passwordValid !== null && !passwordValid" class="one">
          <p>Please enter a valid password.</p>
        </div>
        <div class="one">
          <label for="username">Username</label>
          <input
            ref="username"
            v-model="username"
            name="username"
            type="text"
            @change="validateUsername"
          />
        </div>
        <div v-if="usernameValid !== null && !usernameValid" class="one">
          <p>Please choose a valid username.</p>
        </div>
        <p v-if="errorMessage">{{ errorMessage }}</p>
        <button type="submit" class="btn">Register user</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: '',
      usernameValid: null,
      email: '',
      emailValid: null,
      password: '',
      passwordValid: null,
      errorMessage: null,
    }
  },
  mounted() {
    this.$router.replace({ query: null })
  },
  methods: {
    validateEmail() {
      const re =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      this.emailValid = re.test(String(this.email).toLowerCase())
    },

    validatePassword() {
      this.passwordValid =
        this.password.length >= 8 && this.password.length <= 32
    },

    validateUsername() {
      this.usernameValid = this.username && !/[0-9]/.test(this.username[0])
    },

    async onSubmit() {
      const data = {
        username: this.username,
        email: this.email,
        password: this.password,
      }

      const { usernameValid, passwordValid, emailValid } = this

      if (!emailValid) {
        this.$refs.email.focus()
        return
      }

      if (!passwordValid) {
        this.$refs.password.focus()
        return
      }

      if (!usernameValid) {
        this.$refs.username.focus()
        return
      }

      try {
        const response = await this.$axios.$post(
          'http://localhost:5000/register',
          data
        )
        // eslint-disable-next-line no-console
        console.table(response)
        this.$router.push({ name: 'index' })
      } catch (ex) {
        this.errorMessage = ex.response.data
      }
    },
  },
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  position: absolute;
  top: 10px;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.one {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
}

input {
  margin: 0 0.5em;
  border: 1px dashed black;
}

.btn {
  margin: 0 0.5em;
  border: 1px dashed black;
  margin-top: 40px;
  border-radius: 20px;
}

.links {
  padding-top: 15px;
}
</style>
